:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    height: var(--ds-header-logo-height);
    width: auto;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

}
