// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override Bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here.

// When this file is going to be compiled, internal Bootstrap variables won't have been declared yet,
// therefore if you want to use any Bootstrap variable you also need to declare it here.

// All SASS variables from the base theme are also included here. Do not use the '!default' flag
// here if you want to override them.


/*** FONT FAMILIES ***/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


/*** SEMANTIC COLOR SCHEME ***/

// Gray scale (uncomment the variables that you want to override or that you need to use in this file)
//$white:    #fff;
//$gray-100: #f8f9fa;
//$gray-200: #e9ecef;
//$gray-300: #dee2e6;
//$gray-400: #ced4da;
//$gray-500: #adb5bd;
//$gray-600: #6c757d;
//$gray-700: #495057;
//$gray-800: #343a40;
//$gray-900: #212529;
//$black:    #000;

// Other colors (uncomment the variables that you want to override or that you need to use in this file)
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
//$red:     #dc3545 !default;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

// Override semantic colors here - IATECI Brand Colors
$primary:   #045484;  // IATECI Blue
$secondary: #539385;  // IATECI Teal
$success:   #3c9c44;  // IATECI Green
$info:      #3c7c9c;  // IATECI Light Blue
$warning:   #ec9433;  // Orange
$danger:    #cf4444;  // Red
$light:     #d9e4e4;  // IATECI Light Gray
$dark:      #045484;  // IATECI Dark Blue

// Add new semantic colors here (you don't need to add existing semantic colors)
$theme-custom-semantic-colors: (
);

/*** OTHER BOOTSTRAP VARIABLES ***/

$min-contrast-ratio: 2.06 !default;

$body-color: #343a40;       // As Bootstrap $gray-800

$link-color: #045484;       // IATECI Blue
$link-decoration: none;
$link-hover-color: #3c7c9c; // IATECI Light Blue
$link-hover-decoration: underline;

$table-accent-bg: #d9e4e4;  // IATECI Light Gray
$table-hover-bg: #76a4bc;   // IATECI Blue hover

$navbar-dark-color: #fff;


/*** CUSTOM DSPACE VARIABLES - IATECI ***/

$ds-home-news-link-color: #67b36d;  // IATECI Green
$ds-header-navbar-border-bottom-color: #3c9c44;  // IATECI Green

$ds-breadcrumb-link-color: #045484 !default;  // IATECI Blue
$ds-breadcrumb-link-active-color: #3c7c9c !default;  // IATECI Light Blue
