<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-2">Repositorio IATECI</h1>
          <p class="lead">El Repositorio del Instituto Avanzado de Tecnologías en Ciencias e Innovación (IATECI) es una plataforma digital de acceso abierto orientada a la preservación, organización, difusión y visibilidad del conocimiento científico, académico, técnico y profesional generado en la República Dominicana y en la región del Caribe.</p>
        </div>
      </div>
      
      <div class="mt-4">
        <p>Este repositorio ha sido concebido como un espacio abierto a toda la comunidad investigadora nacional e internacional, sin restricciones institucionales, promoviendo la colaboración entre científicos, centros de investigación, universidades, estudiantes de posgrado y profesionales independientes comprometidos con el avance ético y riguroso del conocimiento científico.</p>
        
        <p>Inspirado en los principios de la Ciencia Abierta y alineado con estándares internacionales, el repositorio ofrece una infraestructura que facilita el acceso libre, gratuito y permanente a la producción científica, con el objetivo de:</p>
        
        <ul class="mb-4">
          <li>Impulsar la visibilidad global de la investigación regional.</li>
          <li>Preservar la memoria científica de manera digital y segura.</li>
          <li>Promover la transparencia, trazabilidad y replicabilidad de los resultados de investigación.</li>
          <li>Fomentar la cooperación científica transinstitucional y transnacional.</li>
        </ul>
        
        <div class="alert alert-info">
          <h5 class="alert-heading"><i class="fas fa-creative-commons"></i> Licencia Creative Commons</h5>
          <p class="mb-0">Todos los documentos evaluados, aceptados y publicados en el repositorio deben estar bajo la licencia <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank" role="link" tabindex="0" class="alert-link"><strong>Creative Commons Atribución 4.0 Internacional (CC BY 4.0)</strong></a>.</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
